.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  padding-top: 120px;
}

.pokemon-list span {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.pokemon-list span:hover {
  background-color: red;
}

.pokemon-list img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
