.pokemon-details {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  color: #fefefe;
}

.pokemon-details a {
  color: #fefefe;
}

.pokemon-details a:hover {
  color: #bb4430;
}
