.villager-details {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  color: #fefefe;
}

.villager-details span {
  padding-left: 15px;
}

.villager-details a {
  color: #fefefe;
}

.villager-details a:hover {
  color: #bb4430;
}

.villager-details img {
  border-radius: 100%;
}
