@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@100;300&display=swap');

body {
  background-color: #fff4eb;
  font-family: 'Roboto Mono', sans-serif;
}

.loading-div {
  display: flex;
  padding-top: 100px;
  margin: auto;
  justify-content: center;
  color: #fefefe;
}
