.detail-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.detail-container button {
  margin: 20px;
  width: 150px;
  border: 0;
  background-color: #121212;
  color: #fefefe;
  padding: 10px;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.detail-container button:hover {
  cursor: pointer;
  background-color: #bb4430;
}
